@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Heebo:wght@300;400;600;700&display=swap");
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.pageContainer {
  margin-top: 100px;
  margin-left: 45px;
  margin-bottom: 75px;
}

.pageHeader {
  font-family: 'Heebo';
  font-weight: 700;
  font-size: 36pt;
}

.projectHeader {
  font-family: 'Heebo';
  font-weight: 700;
  font-size: 40pt;
  text-align: center;
  margin-left: -45px;
}

#ep {
  color: #0FBE00;
}

.navContainer {
  height: 45px;
  background-color: #e3e3e390;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  margin: 20px;
  border-radius: 10px;
  z-index: 100;
}

.landingBody {
  margin: 0;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.landingBody .landingCard {
  scroll-snap-align: start;
}

@media only screen and (max-width: 767px) {
  #mobileNav {
    height: 130px;
    background-color: #e3e3e390;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    padding: 5px;
    margin-top: 5px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 10px;
    z-index: 100;
  }
  #navIcon {
    height: 32px;
    margin-top: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .navLinks:hover {
    color: #2136FF;
  }
  .navLinks {
    font-family: 'Heebo';
    font-weight: 700;
    color: #0E0E0E;
    text-align: center;
  }
}

.navSocialContainer {
  height: 45px;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e3e3e390;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  margin: 20px;
  border-radius: 10px;
  z-index: 100;
}

.navSocialContainer .socialNavItem {
  list-style: none;
}

.navSocialContainer .socialNavItem .socialNavLinks {
  height: 30px;
}

#navIcon {
  height: 32px;
  padding-bottom: 1px;
  margin-left: 10px;
}

.navbarTogglerIcon {
  margin-bottom: 10px;
  border-width: 0px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbarTogglerIcon #navToggle {
  border: none;
  color: #2136FF;
  font-size: 22px;
}

#mainNav {
  margin-right: 0px;
}

#mainNav .navItem {
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

#mainNav .navLinks:hover {
  color: #2136FF;
}

#mainNav .navLinks {
  font-family: 'Heebo';
  font-weight: 500;
  color: #0E0E0E;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  #featured .mobile-wrapper {
    margin-right: 0px;
  }
  #featured .mobile-wrapper div:first-child {
    position: absolute;
    z-index: 1;
    padding-left: 75px;
  }
  #featured .mobile-wrapper div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    background-color: color(nav-bg);
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    height: 90vh;
    width: 100vw;
  }
  #projects .mobile-wrapper, #work .mobile-wrapper, #connect .mobile-wrapper {
    margin-right: 0px;
  }
  #projects .mobile-wrapper div:nth-child(3), #work .mobile-wrapper div:nth-child(3), #connect .mobile-wrapper div:nth-child(3) {
    display: block;
    position: absolute;
    z-index: 1;
  }
  #projects .mobile-wrapper div:nth-child(3) #projectsImage, #work .mobile-wrapper div:nth-child(3) #projectsImage, #connect .mobile-wrapper div:nth-child(3) #projectsImage {
    height: 110vw;
    margin-left: 50px;
    margin-right: 160px;
    max-height: none;
  }
  #projects .mobile-wrapper div:nth-child(2), #work .mobile-wrapper div:nth-child(2), #connect .mobile-wrapper div:nth-child(2) {
    display: none;
  }
  #projects .mobile-wrapper div:first-child, #work .mobile-wrapper div:first-child, #connect .mobile-wrapper div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    height: 90vh;
    width: 100vw;
    margin-top: -20px;
  }
  #projects .mobile-wrapper #projectsText, #work .mobile-wrapper #projectsText, #connect .mobile-wrapper #projectsText {
    background-color: #6b738d98;
    margin-left: -100px;
  }
  #projects .mobile-wrapper .workTextBlock, #work .mobile-wrapper .workTextBlock, #connect .mobile-wrapper .workTextBlock {
    background-color: #ffffff80;
  }
  #projects .mobile-wrapper .workTextBlock h3, #work .mobile-wrapper .workTextBlock h3, #connect .mobile-wrapper .workTextBlock h3 {
    margin-left: 25px;
    margin-right: 25px;
  }
  #projects .mobile-wrapper .workTextBlock p, #work .mobile-wrapper .workTextBlock p, #connect .mobile-wrapper .workTextBlock p {
    text-shadow: 0px 2px 10px #FFF;
  }
  #projects .mobile-wrapper .workImageBlock img, #work .mobile-wrapper .workImageBlock img, #connect .mobile-wrapper .workImageBlock img {
    display: none;
  }
  #projects .mobile-wrapper #layer-mobile img, #work .mobile-wrapper #layer-mobile img, #connect .mobile-wrapper #layer-mobile img {
    display: block;
    height: 110vw;
    margin-bottom: 50px;
  }
  #projects .mobile-wrapper #i1, #projects .mobile-wrapper #i2, #work .mobile-wrapper #i1, #work .mobile-wrapper #i2, #connect .mobile-wrapper #i1, #connect .mobile-wrapper #i2 {
    display: none;
  }
  #projects .mobile-wrapper #lm-text, #work .mobile-wrapper #lm-text, #connect .mobile-wrapper #lm-text {
    display: block;
    position: absolute;
    z-index: 3;
  }
  #projects .mobile-wrapper #lm-text h3, #work .mobile-wrapper #lm-text h3, #connect .mobile-wrapper #lm-text h3 {
    margin-left: 0px;
  }
  #projects .mobile-wrapper #mobile-lm-links, #work .mobile-wrapper #mobile-lm-links, #connect .mobile-wrapper #mobile-lm-links {
    position: absolute;
    z-index: 3;
    text-align: center;
    margin-top: 200px;
  }
  #projects .mobile-wrapper #mobile-lm-links #connectLink, #work .mobile-wrapper #mobile-lm-links #connectLink, #connect .mobile-wrapper #mobile-lm-links #connectLink {
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
  }
  #projects .mobile-wrapper #lm-mobile-hero, #work .mobile-wrapper #lm-mobile-hero, #connect .mobile-wrapper #lm-mobile-hero {
    display: block;
    position: absolute;
    z-index: 1;
  }
  #projects .mobile-wrapper #lm-mobile-hero img, #work .mobile-wrapper #lm-mobile-hero img, #connect .mobile-wrapper #lm-mobile-hero img {
    height: 550px;
  }
}

.cardAlignment .mobile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.cardAlignment .mobile-wrapper .mobile-hero {
  display: none;
}

#landing {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#featured {
  background-color: #0E0E0E;
  color: white;
  padding-top: 50px;
}

#projects {
  background-color: #6b738d;
  color: white;
  padding: 50px;
}

#work {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  background-color: #ffffff;
}

#connect {
  background-color: #f8f8f8;
}

.landingMain {
  position: absolute;
}

.titleHeader {
  font-family: 'Heebo';
  font-weight: 700;
  font-size: 36pt;
}

.titleSubheader {
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 16pt;
  color: #3d3d3d;
}

.exploreButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80vh;
  cursor: pointer;
}

.exploreButton #explore {
  color: #2136FF;
}

.sectionText {
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 20pt;
}

.sectionLink {
  font-family: 'Heebo';
  font-weight: 700;
  font-size: 10pt;
  margin-top: 15px;
}

#featuredImage {
  height: 70vh;
  margin-left: -50px;
  margin-right: 40px;
}

#featuredLink {
  color: #0FBE00;
}

#projectsImage {
  height: 35vw;
  margin-left: 50px;
  margin-right: 100px;
  max-height: 400px;
}

#projectsLink {
  color: #1E0A78;
}

.workTextBlock {
  z-index: 2;
  margin-top: 20px;
}

.workTextBlock h3 {
  text-align: center;
}

.workTextBlock h4 {
  text-align: center;
}

#layer-mobile img {
  display: none;
}

.workImageBlock {
  position: absolute;
  z-index: 1;
}

#lm-mobile-hero, #mobile-lm-links {
  display: none;
}

#workImage {
  height: 50vw;
  max-height: 600px;
}

#workLink {
  color: #FF8500;
}

#connectLink {
  padding: 50px;
  color: #2136FF;
}

.connectAlignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 75px;
  padding: 15px;
}

.resume-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
  margin-left: -40px;
}

.resume-body section {
  width: 85%;
  background-color: #f3f3f3;
  border-radius: 25px;
  padding: 30px;
  margin-bottom: 25px;
}

.resume-body .section-title h2 {
  font-size: 1rem;
  font-weight: 500;
}

.resume-body .content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume-body .content-block p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: .5rem;
}

.resume-body .content-block .iblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.resume-body .content-block .iblock .resume-detail .detail-title p {
  font-weight: 700;
}

.resume-body .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume-body .about-me #resume-profile img {
  width: 200px;
  border-radius: 10px;
  margin-right: 25px;
}

.resume-body .about-me .content-block h1 {
  color: color(accent);
}

.resume-body .about-me #contact-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  margin-left: 25px;
}

.resume-body .about-me #contact-resume .social-buttons {
  margin-top: 35px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.resume-body .proficiencies .content-block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.resume-body .proficiencies .iblock {
  margin-top: 25px;
}

.resume-body .proficiencies .iblock .skills-title p {
  font-size: 1.1rem;
  font-weight: 700;
}

.resume-body .proficiencies .iblock .skills-list li {
  list-style-type: 1;
  font-size: 1.1rem;
  font-weight: 300;
  margin-left: -20px;
}

.resume-body .proficiencies .iblock .skills-list #indent {
  margin-left: 20px;
  font-style: italic;
}

@media only screen and (max-width: 850px) {
  .resume-body .iblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: left;
  }
  .resume-body .iblock .detail-title p {
    line-height: 20px;
  }
  .resume-body .iblock .resume-detail div:nth-child(2) p {
    line-height: 20px;
  }
  .resume-body .iblock .resume-date p {
    font-style: italic;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
  }
  .resume-body .about-me #resume-profile {
    display: none;
  }
  .resume-body .about-me #contact-resume {
    margin-right: 10px;
    margin-left: 5px;
  }
  .resume-body .about-me .section-title {
    display: none;
  }
  .resume-body .about-me #connect-social-buttons a {
    background-color: color(nav-bg);
    padding: 20px;
    border-radius: 60px;
    margin-right: 15px;
    padding-bottom: 25px;
  }
  .resume-body .about-me .social-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 15px;
  }
  .resume-body .about-me .social-buttons div {
    margin-bottom: 25px;
  }
  .resume-body .about-me .social-buttons a {
    background-color: color(nav-bg);
    padding: 10px;
    border-radius: 60px;
    margin-right: 15px;
    padding-bottom: 15px;
  }
  .resume-body .about-me .social-buttons a:hover {
    background-color: color(nav-hover);
  }
  .resume-body .proficiencies .content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #projectImage {
    height: 110vw;
    max-height: none;
    max-width: none;
  }
}

.currentItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentItems .projectImage {
  height: 45vw;
  max-height: 65vh;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.currentItems .projectImage:hover {
  height: 47vw;
  max-height: 67vh;
}

.currentItems #EPImage:hover {
  -webkit-filter: drop-shadow(0px 5px 50px #0FBE0088);
  filter: drop-shadow(0px 5px 50px #0FBE0088);
}

.currentItems #WebImage:hover {
  -webkit-filter: drop-shadow(0px 5px 50px #2137ffa1);
  filter: drop-shadow(0px 5px 50px #2136FFa1);
}

.currentItems #GarageImage:hover {
  -webkit-filter: drop-shadow(0px 5px 50px #65fffac0);
  filter: drop-shadow(0px 5px 50px #65fffac0);
}

#everyday-portfolio #document-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

#everyday-portfolio #document-container #project-proposal, #everyday-portfolio #document-container #design-brief, #everyday-portfolio #document-container #see-project {
  background-color: color(nav-bg);
  border-radius: 15px;
  height: 43px;
}

#everyday-portfolio #document-container #project-proposal p, #everyday-portfolio #document-container #design-brief p, #everyday-portfolio #document-container #see-project p {
  margin: 0;
  padding: 10px 20px 10px 20px;
  color: color(accent);
}

#everyday-portfolio #document-container #project-proposal a:hover, #everyday-portfolio #document-container #design-brief a:hover, #everyday-portfolio #document-container #see-project a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=App.css.map */