.navSocialContainer {
    height: 45px;
    width: 175px;
    display: flex;
    flex-direction: row;
    background-color: color(nav-bg);
    backdrop-filter: blur(3px);
    margin: 20px;
    border-radius: 10px;
    z-index: 100;
  
    .socialNavItem {
      list-style: none;
  
      .socialNavLinks {
        height: 30px;
      }
    }
  }