$colors: (
  black: black,
  white: white,
  accent: #2136ff,
  ep: #0fbe00,
  runAway: #ff9b25,
  sgarage: #cc0000,
  sprout: #29bb86,
  youtube: #ff0200,
  mesh: #f6cd0b,
  headings: #313131,
  nav-bg: #e9e8e890,
  nav-bg2: #f4f4f4,
  nav-hover: #e1e1e1,
  projectButton: #e2e2e2,
  secondarylink: #1e0a78,
  tertiarylink: #ff8500,
  primarytag: #000956,
  secondarytag: #ff8500,
  tertiarytag: #006cd8,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
