.slide-container {
    width: 80vw;
    margin-bottom: 50px;
    max-width: 1200px;

    img {
        height: 65vw;
        max-height: 900px;
    }

    iframe {
        height: 65vw;
        width: 100%;
        max-height: 900px;
    }
}

