@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Heebo:wght@300;400;600;700&display=swap');

.pageContainer {
  margin-top: 100px;
  margin-left: 45px;
}
.pageHeader {
  font-family: 'Heebo';
  font-weight: 700;
  font-size: 36pt;
}

.navContainer {
  height: 45px;
  background-color: #e3e3e390;
  backdrop-filter: blur(3px);
  margin: 20px;
  border-radius: 10px;
  z-index: 100;
}

.navSocialContainer {
  height: 45px;
  width: 175px;
  background-color: #e3e3e390;
  backdrop-filter: blur(3px);
  margin: 20px;
  border-radius: 10px;
  z-index: 100;
}

#navIcon {
  height: 32px;
  padding-bottom: 1px;
  margin-left: 10px;
}

.navbarTogglerIcon {
  margin-bottom: 10px;
  border-width: 0px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  #navToggle {
    border: none;
    color: #2136FF;
    font-size: 22px;
    
  }
}



#mainNav {
  margin-right: 0px;

  .navItem {
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
  }

  .navLinks:hover {
    color: #2136FF;
  }

  .navLinks {
    font-family: 'Heebo';
    font-weight: 500;
    color: #0E0E0E;
  }

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.cardAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#landing {
  flex-direction: column;
}

#featured {
  background-color: #0E0E0E;
  color: white;
  padding-top: 50px;
}

#projects {
  background-color: #6b738d;
  color: white;
  padding: 50px;
}

#work {
  flex-direction: column;
  padding-top: 50px;
  background-color: #ffffff;
}

#connect {
  background-color: #f8f8f8;
}

.landingMain {
  position: absolute;
}


.titleHeader {
  font-family: 'Heebo';
  font-weight: 700;
  font-size: 36pt;
}

.titleSubheader {
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 16pt;
  color: rgb(61, 61, 61);
}

.exploreButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80vh;
  cursor: pointer;

  #explore {
    color: #2136FF;
  }
}

.sectionText {
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 20pt;
}

.sectionLink {
  font-family: 'Heebo';
  font-weight: 700;
  font-size: 10pt;
  margin-top: 15px;
}

#featuredImage {
  height: 70vh;
  margin-left: -50px;
  margin-right: 40px;
}

#featuredLink {
  color: #0FBE00;
}

#projectsImage {
  height: 40vh;
  margin-left: 50px;
}

#projectsLink {
  color: #1E0A78;
}

.workTextBlock {
  z-index: 2;
  margin-top: 20px;

  h3 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }
}

.workImageBlock {
  position: absolute;
  z-index: 1;
}

#workImage {
  height: 60vh;
}

#workLink {
  color: #FF8500;
}

#connectLink {
  padding: 50px;
  color: #2136FF;
}

.connectAlignment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 75px;
  padding: 15px;
}

// resume styling
.resume-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  margin-left: -40px;

  section {
      width: 85%;
      background-color: #f3f3f3;
      border-radius: 25px;
      padding: 30px;
      margin-bottom: 25px;
  }
  
  .section-title {
      h2 {
          font-size: 1rem;
          font-weight: 500;
      }
  }
  
  .content-block {
      display: flex;
      flex-direction: column;
      
      p {
          font-size: 1.1rem;
          font-weight: 300;
          line-height: .5rem;
      }

      .iblock {
          display: flex;
          justify-content: space-between;
          margin-top: 25px;
  
          .resume-detail {
  
              .detail-title {
      
                  p {
                      font-weight: 700;
                  }
                  
              }
          }
      }
  
  
  }

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  #resume-profile {
      img {
          width: 200px;
          border-radius: 10px;
          margin-right: 25px;
      }
  }

  .content-block {
      h1 {
          color: color(accent);
      }
  }

  #contact-resume {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 25px;
      margin-left: 25px;

      .social-buttons {
          margin-top: 35px;
          margin-left: 10px;
          margin-bottom: 0px;
      }
  }
}


.proficiencies {
  
  .content-block {
      flex-direction: row;
      justify-content: space-around;
  }

  .iblock {

      margin-top: 25px;

      .skills-title {
          p {
              font-size: 1.1rem;
              font-weight: 700;
          }
      }

      .skills-list {


          li {
              list-style-type: round($number: 1);
              font-size: 1.1rem;
              font-weight: 300;
              margin-left: -20px;
          }

          #indent {
              margin-left: 20px;
              font-style: italic;
          }
      }
  }
}
}


@media only screen and (max-width: 850px) {
    
  .resume-body {
      .iblock {
          display: flex;
          flex-direction: column-reverse;
          text-align: left;

          .resume-detail {

              div:nth-child(2) {
                  p:first-child {
                      line-height: 20px;
                  }
              }
          }

          .resume-date {
              p {
                  font-style: italic;
                  font-size: 16px;
                  line-height: 18px;
                  text-align: left;
              }
          }

      }
      .about-me {
          #resume-profile {
              display: none;
          }

          #contact-resume {
              margin-right: 10px;
              margin-left: 5px;
          }

          .section-title {
              display: none;
          }

          #connect-social-buttons {
              a {
                  background-color: color(nav-bg);
                  padding: 20px;
                  border-radius: 60px;
                  margin-right: 15px;
                  padding-bottom: 25px;
              }
          }
          .social-buttons {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-bottom: 15px;

              div {
                  margin-bottom: 25px;
              }
              
              a {
                  background-color: color(nav-bg);
                  padding: 10px;
                  border-radius: 60px;
                  margin-right: 15px;
                  padding-bottom: 15px;
              }

              a:hover {
                  background-color: color(nav-hover);
              }
          }
      }
  }
}