@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Heebo:wght@300;400;600;700&display=swap');

.pageContainer {
  margin-top: 100px;
  margin-left: 45px;
}
.pageHeader {
  font-family: 'Heebo';
  font-weight: 700;
}

.navContainer {
  height: 45px;
  background-color: #e3e3e390;
  backdrop-filter: blur(3px);
  margin: 20px;
  border-radius: 10px;
  z-index: 100;
}

#navIcon {
  height: 32px;
  padding-bottom: 1px;
  margin-left: 10px;
}

.navbarTogglerIcon {
  margin-bottom: 10px;
  border-width: 0px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;

  #navToggle {
    border: none;
    color: #2136FF;
    font-size: 22px;
    
  }
}



#mainNav {
  margin-right: 0px;

  .navItem {
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
  }

  .navLinks:hover {
    color: #2136FF;
  }

  .navLinks {
    font-family: 'Heebo';
    font-weight: 500;
    color: #0E0E0E;
  }

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.cardAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#landing {
  flex-direction: column;
}

#featured {
  background-color: #0E0E0E;
  color: white;
  padding-top: 50px;
}

#projects {
  background-color: #6b738d;
  color: white;
  padding: 50px;
}

#work {
  flex-direction: column;
  padding-top: 50px;
  background-color: #ffffff;
}

.landingMain {
  position: absolute;
}


.titleHeader {
  font-family: 'Heebo';
  font-weight: 700;
  font-size: 36pt;
}

.titleSubheader {
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 16pt;
  color: rgb(61, 61, 61);
}

.exploreButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80vh;
  cursor: pointer;

  #explore {
    color: #2136FF;
  }
}

.sectionText {
  font-family: 'Chakra Petch';
  font-weight: 400;
  font-size: 20pt;
}

.sectionLink {
  font-family: 'Heebo';
  font-weight: 700;
  font-size: 10pt;
  margin-top: 15px;
}

#featuredImage {
  height: 70vh;
  margin-left: -50px;
  margin-right: 40px;
}

#featuredLink {
  color: #0FBE00;
}

#projectsImage {
  height: 40vh;
  margin-left: 50px;
}

#projectsLink {
  color: #1E0A78;
}

.workTextBlock {
  z-index: 2;
  margin-top: 20px;

  h3 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }
}

.workImageBlock {
  position: absolute;
  z-index: 1;
}

#workImage {
  height: 60vh;
}

#workLink {
  color: #FF8500;
}