@media only screen and (max-width: 850px) {

  .currentItems, .pastItems {

    margin-top: 30px;
    
    .projectImage {
      height: 90vw;
      min-height: 300px;
    }

    #WebImage, #GarageImage, #SproutImage {
      min-height: 275px;
    }
  
    #EPImage:hover {
      -webkit-filter: none;
      filter: none;
    }
  
    #WebImage:hover {
      -webkit-filter: none;
      filter: none;    
    }
  
    #GarageImage:hover {
      -webkit-filter: none;
      filter: none;    
    }
  } 
}
  
  .currentItems, .pastItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  
    .projectImage {
      height: 45vw;
      max-height: 65vh;
      background: transparent;
      transition: all 0.5s ease;
    }
  
    .projectImage:hover {
      height: 47vw;
      max-height: 67vh;
    }
  
    #EPImage:hover {
      -webkit-filter: drop-shadow(0px 5px 50px #0FBE0088);
      filter: drop-shadow(0px 5px 50px #0FBE0088);
    }
  
    #WebImage:hover {
      -webkit-filter: drop-shadow(0px 5px 50px #2137ffa1);
      filter: drop-shadow(0px 5px 50px #2136FFa1);
    }
  
    #GarageImage:hover {
      -webkit-filter: drop-shadow(0px 5px 50px #65fffac0);
      filter: drop-shadow(0px 5px 50px #65fffac0);
    }

    #SproutImage:hover {
      -webkit-filter: drop-shadow(0px 5px 50px #21c58992);
      filter: drop-shadow(0px 5px 50px #21c58992);
    }
  
    #MeshImage:hover {
      -webkit-filter: drop-shadow(0px 5px 50px #ffd000bc);
      filter: drop-shadow(0px 5px 50px #ffd000bc);
    }
  
    #HyperloopImage:hover {
      -webkit-filter: drop-shadow(0px 5px 50px #818181c0);
      filter: drop-shadow(0px 5px 50px #818181c0);
    }
  }

  