#sproutPage {
    margin-left: 0px;
    margin-right: 0px;
}

#sproutHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;

    #sprout {
        color: color(sprout);
        font-size: 7vw;
        margin-left: 15px;
    }
    
    #sproutHero {
        height: auto;
        width: 90vw;
        padding: 0px;
        max-width: 1200px;
        justify-self: center;
        margin: auto;
    }
}

#sprout-tagline-resources {
    background-color: color(nav-bg2);
    padding-bottom: 75px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #WIP {
        margin-top: 10px;
        margin-bottom: 25px;
        margin-right: 10px;
        display: inline-block;
        padding: 5px 10px;
        width: auto;
        border-radius: 50px;
        font-size: 10pt;
        font-weight: 600;
        background-color: #EF0000;
        color: color(white);
    }
  
    #sprout-tagline {
      font-family: "Heebo", sans-serif;
      font-weight: 700;
      font-size: 6vw;
      text-align: center;
      line-height: 8vw;
      color: color(headings);
    }
  
    #document-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  
      div {
        margin: 20px;
        background-color: color(projectButton);
        padding: 0px 15px;
        padding-bottom: 0.3px;
        padding-top: 13px;
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
  
        p {
          color: color(sprout);
          font-weight: 700;
        }
      }

      div:hover {
        background-color: color(sprout);
        cursor: pointer;
  
        p {
          color: color(white);
        }
      }
    }
  }

  #sproutProject {
      background-color: color(sprout);

      #introContainer {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        #sproutIntro {
            height: 55vw;
        }

        #sproutCopy {
            margin-left: 50px;
            max-width: 500px;

            p {
                color: color(white);
            }
        }
      }
  }

  .design-codeBody {
      margin-top: 75px;
      margin-bottom: 100px;

    h4 {
        color: color(sprout);
        font-family: 'Heebo', sans-serif;
        font-weight: 700;
        font-size: 24pt;
    }

    .sproutCol1, .sproutCol2 {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 50vw;
            max-height: 700px;
        }
    }

    .sproutCol1 {
        margin-left: 95px;

        h4 {
            margin-right: 50px;
        }
    }

    .sproutCol2 {
        margin-right: 50px;
    }
  }

@media only screen and (min-width: 1620px) { 
    #sproutHeader {

        #sprout {
            font-size: 80pt;
        }
    }

    #sprout-tagline-resources {
      
        #sprout-tagline {
            font-size: 60pt;
            line-height: 72pt;
        }
    }

    #sproutIntro {
        max-height: 800px;
    }
}

@media only screen and (max-width: 768px) {

    #sproutHeader {

        #sprout {
            font-size: 12vw;
            margin-bottom: 25px;
        }
    }

    #sprout-tagline-resources {

        #sprout-tagline {
            font-size: 8vw;
            line-height: 11vw;
            margin-bottom: 25px;
        }

        #document-container {
            flex-direction: column;
            margin-bottom: 25px;
        
            div {
              width: 70vw;
              margin: 10px;
      
              p {
                  text-align: center;
              }
            }
          }
        }
    }

    @media only screen and (max-width: 950px) {

        #sproutProject {
            #introContainer {

                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                margin: auto;
        
                #sproutIntro {
                    height: 95vw;
                    margin-bottom: 50px;
                }
        
                #sproutCopy {
                    margin-left: 0px;
                    margin-bottom: 50px;
                    margin-top: 50px;
                    max-width: 500px;
        
                    p {
                        color: color(white);
                    }
                }
              }
        }

        .design-codeBody {
            margin: 25px;
            margin-top: 75px;

            .sproutCol1 {
                flex-direction: column;
                margin-left: 0px;

                img {
                    height: 80vw;
                    min-width: 300px;
                }
            }

            .sproutCol2 {
                flex-direction: column-reverse;
                margin-right: 0px;

                img {
                    height: 80vw;
                    min-width: 300px;
                }
            }
        }

       
}

